.cart-box {
  display: flex;
  width: 90%;
  margin: 3rem auto;

  .cart-info {
    width: 70%;

    .cart-item {
      padding: 0 2rem 1.5rem;
      margin-bottom: 1.5rem;
      display: grid;
      column-gap: 3rem;
      row-gap: .5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 
        "item1 item2 item5"
        "item1 item3 ."
        "item1 item4 item6";
      border-bottom: 1px solid;

      .item1 { 
        grid-area: item1; // 產品照片

        img {
          width: 100%;
        }
      }

      .item2 {
        grid-area: item2; // 廠牌、名稱

        p {

          &:first-child {
            font-weight: 700;
            margin-bottom: 0.5rem;
          }
        }
      }

      .item3 {
        grid-area: item3; // 數量控制
        display: flex;

        button {
          background: none;
          border: none;
          font-size: 1.5rem;
        }

        input {
          background: none;
          border: none;
          text-align: center;
          width: 20%;
          text-decoration: underline;
        }
      }

      .item4 {
        grid-area: item4;  // 已套用優惠券
        padding: 0;
        margin: 0;
        font-style: italic;
        font-size: 0.9rem;
        align-self: end;
      }

      .item5 {
        grid-area: item5; // 移除購物車
        text-align: right;
        font-size: 0.9rem;
      }
      
      .item6 {
        grid-area: item6; //  商品總金額
        text-align: right;
        align-self: end;

        h5 {
          margin: 0;
          padding: 0;

          del {
            font-size: 1rem;
            font-weight: lighter;
            padding-right: 1rem;
          }
        }
      }
    }

    .total-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: right;
      margin-top: 2rem;
      padding: 0 2rem;

      p {
        font-size: 1rem;
        padding-bottom: .5rem;

        span {
          text-align: right;
          width: 20%;
          display: inline-block;
        }
      }
    }
  }

  .checkout {
    width: 30%;
    padding: 0rem 4rem;

    .coupon {
      display: flex;
      flex-direction: column;
      margin: 0rem 0 2rem;

      input {
        background: none;
        border: none;
        border-bottom: 1px solid;
        padding: 1rem;
        border-radius: 0;

        &::placeholder {
          font-weight: 300;
        }
      }
    }

    a {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }

  .cart-no-data {
    text-align: center;
    padding: 5rem;
    width: 100%;

    h2 {
      margin-bottom: 3rem;
      font-weight: 300;
    }

    a {
      display: inline-block;
      padding: 0.5rem 5rem;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cart-box {
    width: 100%;
    padding: 0 2rem;
    flex-wrap: wrap;

    .cart-info {
      width: 100%;
      order: 2;

      .cart-item {
        padding: 0 0 1rem;
        margin-bottom: 1rem;
        column-gap: 0rem;
        row-gap: 0rem;
        grid-template-columns: 65% 35%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
          "item5 ."
          "item1 item2"
          "item1 item3"
          "item6 item6"
          "item4 item4";
        
        .item1 { 
          padding-right: 1rem;

          img {
            width: 100%;
          }
        }

        .item2 {
          align-self: center;

          p {
            margin-bottom: 0;

            &:first-child {
              font-weight: 700;
              margin-bottom: 0.5rem;
            }
          }
        }

        .item3 {
          display: flex;
        }

        .item4 {
          text-align: right;
          align-self: center;
          padding-top: 0.5rem;
        }

        .item5 {
          text-align-last: left;
        }
        
        .item6 {
          padding: 1rem 0 0;

          h5 {

            del {
              font-size: 1.2rem;
            }
          }
        }
      }

      .total-box {
        padding: 0;

        p {

          span {
            width: 40%;
          }
        }
      }
    }

    .checkout {
      width: 100%;
      padding: 0;
      order: 1;
      margin: 1rem 0 3rem;
    }

    .cart-no-data {
      padding: 5rem 0 0;
    }
  }
}
