.cart-box {
  .check-box {
    display: none;
  }
  .cart {
    display: flex;
    width: 90%;
    margin: 3rem auto;

    .cart-box {
      width: 70%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 2rem;

      .total-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: right;
        margin-top: 2rem;

        span {
          text-align: right;
          width: 15%;
          display: inline-block;
        }
      }

      .coupon {
        display: none;
      }

      .cart-item {
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid;
        padding: 0rem 0 1rem 4rem;
        margin-bottom: 1rem;
        

        .price-sm {
          display: none;
        }

        .img-box {
          width: 30%;

          img {
            width: 100%;
          }
        }

        .content {
          padding: 0 3rem;
          width: 40%;
          align-self: center;

          p {
            &:first-child {
              font-weight: 700;
            }
          }

          .control {
            display: flex;

            button {
              background: none;
              border: none;
              font-size: 1.5rem;
            }

            input {
              background: none;
              border: none;
              text-align: center;
              width: 20%;
              text-decoration: underline;
            }
          }
        }

        .price {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: end;

          a {
            font-size: 0.9rem;
          }

          p {
            font-size: 1.2rem;
            
            span {
              display: flex;

              h5 {
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }

    .checkout {
      width: 30%;
      padding: 0rem 4rem;

      .coupon {
        display: flex;
        flex-direction: column;
        margin: 0rem 0 2rem;

        input {
          background: none;
          border: none;
          border-bottom: 1px solid;
          padding: 1rem;

          &::placeholder {
            font-weight: 300;
          }
        }
      }

      a {
        display: inline-block;
        text-align: center;
        width: 100%;
      }
    }
  }

  .cart-no-data {
    text-align: center;
    padding: 5rem;

    h2 {
      margin-bottom: 3rem;
      font-weight: 300;
    }

    a {
      display: inline-block;
      padding: 0.5rem 5rem;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cart-box {
    .check-box {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.8rem 2rem;
      justify-content: flex-end;

      a {
        padding: 0.6rem 2.2rem;
      }
    }

    .cart {
      width: 100%;
      margin: 1rem auto;
      justify-content: center;

      .cart-box {
        width: 100%;
        padding-top: 2rem;

        .coupon {
          display: flex;
          flex-direction: column;
          margin: 0rem 0 4rem;
          width: 100%;


          input {
            background: none;
            border: none;
            border-bottom: 1px solid;
            padding: 1rem;
            border-radius: 0;

            &::placeholder {
              font-weight: 300;
            }
          }
        }

        .total-box {
          margin-top: 1rem;

          span {
            width: 45%;
          }
        }

        .cart-item {
          padding: 0;
          flex-wrap: wrap;
          margin-bottom: 1rem;

          .price-sm {
            width: 100%;
            display: block;
          }

          .img-box {
            width: 60%;
          }

          .content {
            padding: 0 0 0 1rem;
            align-self: stretch;
          }

          .price {
            width: 100%;
            padding: 0;
            padding-top: 1rem;

            a {
              display: none;
            }

            p {
              font-size: 1.3rem;
            }
          }
        }
      }

      .checkout {
        display: none;
      }
    }
  }
}
