.checkbox-box {
  width: 90%;
  margin: 2.5rem auto 10rem;
  display: flex;
  justify-content: start;

  .order-information {
    width: 60%;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 1.5rem;
    }

    input,
    textarea {
      border-radius: 0;
      border: none;
      background: none;
      border-bottom: 1px solid;
      padding: 0.5rem;
      display: inline-block;
      width: 100%;

      &::placeholder {
        color: $light-text-shallow;
        font-weight: 300;
      }
    }

    .name-phone {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .name {
        width: 45%;
      }

      .phone {
        width: 45%;
      }
    }

    .step {
      position: fixed;
      bottom: 0;
      left: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0 1.5rem;

      button {
        border: none;
      }
    }
  }

  .products-information {
    width: 40%;

    .product-box {
      .product-item {
        width: 100%;
        display: flex;
        align-items: end;
        flex-wrap: nowrap;
        padding: 1rem 0;

        .img-box {
          width: 30%;

          img {
            width: 100%;
          }
        }

        .content {
          width: 35%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-self: stretch;

          p {
            padding-left: 2rem;
            width: 100%;
            display: inline-block;
            margin: 0;
          }
        }

        .price {
          text-align: right;
          width: 35%;

          p {
            margin: 0;
          }
        }
      }
    }

    .total-box {
      display: flex;
      flex-direction: column;
      text-align: right;
      margin: 1rem 0;

      p {
        span {
          display: inline-block;
          width: 30%;
        }

        &:last-child {
          padding-top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .checkbox-box {
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem;
    margin: 0;
    margin-bottom: 10rem;

    .order-information {
      width: 100%;
      padding: 0;
      margin-bottom: 3rem;
      order: 2;

      .step {
        padding: 1rem;

        a {
          padding: .6rem 2.2rem;
        }

        button {
          padding: .6rem 2.2rem;
        }
      }
    }

    .products-information {
      width: 100%;
      order: 1;

      .total-box {
        p {

          span {
            width: 40%;
          }

          &:last-child {
            font-size: 1.2rem;
          }
        }
      }
    }

  }
}
