.row > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.page-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 4rem;
}

.router-link {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.font-family-taipei {
  font-family: "TaipeiSansTC";
  font-weight: 200;
}

.fw-200 {
  font-weight: 200;
}

.cursor-pointer {
  cursor: pointer;
}

.text-xxs {
  font-size: 0.9rem;
}

.img-30 {
  width: 30px;
}

.nav-link:hover {
  font-size: 3rem !important;
  font-weight: 500;
  margin: 0;
  padding: 0;
  transition: 0.1s ease-in;
}

.nav-link:hover::after {
  content: "\F138";
  font-family: "bootstrap-icons";
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.active-nav-item {
  font-size: 3rem !important;
  font-weight: 500;

  &::after {
    content: "\F138";
    font-family: "bootstrap-icons";
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
}

.preview-more {
  width: 170px;
  height: 170px;
}

.preview {
  width: 200px;
  height: 200px;
}

.input-true:checked ~ .true,
.input-false:checked ~ .false {
  border: 1px solid black;
  background: black;
  border-radius: 20px;
  color: white;
}

.form-card {
  z-index: 100;
  border-radius: 0rem;
  border: 1px solid black;
  padding: 2rem 4rem 3rem;

  input {
    border: 1px solid black;
    border-radius: 0;
    width: 300px;
    
    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      font-family: "Inter", sans-serif;
    }
  }
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }

  .border-lg {
    border-color: transparent !important;
    border-bottom: 1px solid rgb(0, 0, 0) !important;
  }

  .bg-sm-color {
    border-color: transparent !important;
    // border-top: 1px solid rgb(0, 0, 0) !important;
    background: rgb(255, 255, 255);
  }

  .form-card {
    padding: 2rem;
  }

  .form-control:focus {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: 2px solid rgba(0, 0, 0, 0.3);
  }
}

.shake-top {
	animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2 both;
}

@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.h-2 {
  height: 2.4rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}