.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  margin-top: -80px;
  height: 100vh;

  .scroll-area {
    scroll-snap-align: start;
    height: 100vh;
  }
}
// banner
.home-banner {
  padding: 0;
  margin: 0 auto;
  position: relative;
  height: 100vh;

  .black-video {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    background: -webkit-linear-gradient(-180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    background: linear-gradient(-180deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));

    a {
      font-size: 3rem;
      color: $light;
      font-weight: 500;
    }

    .scroll-icon {
      margin: 90px auto 0;
      position: relative;
      width: 1.7rem;
      height: 2.6rem;
      border: .1rem solid $light;
      border-radius: 2rem;

      .wheel {
        position: absolute;
        left: 50%;
        top: 18%;
        width: .5rem;
        height: .5rem;
        background: $light;
        transform: translate(-50%, 0);
        border-radius: 50%;
        animation: wheel 1.3s ease-in-out infinite;
      }
    }
  }
}

// introduce
.home-introduce {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  height: 100%;
  padding: 8% 10%;

  .img-box {
    min-width: 450px;
    height: 100%;
    display: inline-block;
    background-image: url(@/assets/introduce.jpg);
    background-position: center;
    background-size: cover;
  }

  .text {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    font-size: 3rem;

    span {
      text-decoration: underline;
      text-underline-offset: .6rem;
      text-decoration-thickness: .2rem;
    }
  }
}

// activity
.home-activity {
  position: relative;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(@/assets/activity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.4);
    z-index: -100;
  }

  .text {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: end;
    z-index: 1;
    color: $light;
    padding-bottom: 50px;

    h3 {
      width: 100%;
      font-size: 2rem;
    }

    p {
      width: 100%;
      line-height: 3rem;
    }

    a {
      font-size: 1rem;
      text-decoration: underline;
      width: 100%;
      display: inline-block;
      color: $light;
    }
  }
}

// look
.home-look {
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  .box {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100vh;

    h3 {
      padding: 60px 0 0 40px;
      font-size: 7rem;
      position: sticky;
      top: 0;
      z-index: -100;
      font-family: 'Noto Serif', serif;
      font-weight: 800;
      color: lighten($light-text-shallow, 30%);
    }
  }

  .img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    align-self: center;
    height: 80%;

    .img-item1 {
      background: url(@/assets/look1-1.png);
    }

    .img-item2 {
      background: url(@/assets/look1-2.png);
    }

    .img-item3 {
      background: url(@/assets/look1-3.png);
    }

    .img-item {
      width: 300px;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  }

  .img-look {
    width: 60%;
    height: 100%;
    background: url(@/assets/look.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

// product
.home-product {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 80px;

  .img-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .img {
      min-width: 90%;
      height: 100%;
      display: inline-block;
      background-image: url(@/assets/MT-07.png);
      background-position: center;
      background-size: cover;
      object-fit: cover;
    }
  }

  .text {
    width: 30%;
    padding-right: 8rem;
    display: flex;
    flex-direction: column;

    .name {
      h5 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1.1rem;
        padding: 0;
      }
    }

    p {
      font-size: 1rem;
      line-height: 2rem;
      padding: 20px 0 30px;
      text-align: justify;
    }

    a {

    }
  }
}

// hot
.home-hot {
  width: 100%;
  height: 100%;
  padding: 100px 0 50px 100px;

  .hot-products {
    .media-scrolled {
      grid-auto-columns: 23%;
    }
  }

  h5 {
    font-size: 1rem;
    font-weight: 300;
  }
}

@keyframes wheel {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }

  20%,
  70% {
    opacity: 1;
  }

  90%,
  100% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
}