.nav-bar {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .nav-list {
    text-align: center;
    width: 30%;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      li {
        a {
          padding: 20px;
          display: inline-block;
          cursor: pointer;
          transition: 0.8s;
        }
      }
    }

    &.nav-right {
      padding: 2rem 0;

      ul {
        justify-content: flex-end;

        li {
          &:first-child {
            border-right: 1px solid;
            padding-right: 0.5rem;
            margin-right: 0.5rem;

            a {
              padding: 1px 20px;
            }
          }

          &:last-child {
            a {
              span {
                &:first-child {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  &.isHome {
    background: none !important;
    .nav-list {
      .logo {
        transition: 0.8s;
        color: $dark-text;
        border-color: $dark-text;
      }

      ul {
        li {
          color: $dark-text;

          a {
            color: $dark-text;
          }
        }
      }
    }
  }
}

.nav-button {
  display: none;
}

.nav-page {
  display: none;
}

.button-ground {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 0 2rem;

    .nav-list {
      width: 50%;

      &.nav-left {
        display: none;
      }

      &.nav-center {
        text-align-last: left;
      }

      &.nav-right {

        ul {
          li {

            a {
              padding-right: 0;
            }

            .mode-toggle {
              display: none;
            }

            &:first-child {
              display: none;
            }
          }
        }
      }
    }
  }

  .nav-button {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    border: 1px solid;
    z-index: 100;
    padding: 0.3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    box-sizing: border-box;
    i {
      padding-right: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .nav-page {
    height: calc(100vh - 0px);
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .nav-list {
      width: 100%;
      padding: 0 2rem;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        padding: 7rem 0 0;

        li {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 1rem;

          a {
            padding: 1rem;
            padding-right: 0;

            &.search {
              margin-top: 1.5rem;
              width: 100%;
              padding: 1rem;
              display: flex;
              align-items: center;
              border-bottom: 1px solid;
              justify-content: space-between;

              &::after {
                content: "\F52A";
                font-family: "bootstrap-icons";
              }
            }
          }
        }
      }
    }
  }

  .button-ground {
    position: fixed;
    bottom: 1.5rem;
    left: 5%;
    width: 90%;
    border: 1px solid;
    z-index: 1001;
    display: flex;
    justify-content: space-between;

    button {
      padding: 0.3rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      box-sizing: border-box;

      &:first-child {
        justify-content: start;
        padding-left: 1rem;
      }

      i {
        padding-right: 0.5rem;
        font-size: 1.5rem;
      }
    }
  }

  .filter-page {
    .nav-list {
      ul {
        height: auto;
        padding: 7rem 0;

        li {
          justify-content: start;
          margin-bottom: 1rem;

          h3 {
            margin-bottom: 3rem;
            font-weight: 300;
            color: black;
          }

          .category-box {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
          }

          a {
            border: 1px solid black;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
