.products-box {
  width: 100%;
  display: flex;
  padding-top: 1rem;

  .sidebar {
    position: sticky;
    top: 5rem;
    height: calc(100vh - 30rem);
    width: 15%;
    padding: 0rem 40px 0;

    li {
      line-height: 2.8rem;
    }

    input {
      display: none;

      &:checked~.collapsible-item {
        display: block;
      }

      &:checked~label>i {
        transform: rotate(90deg);
      }
    }

    label {
      cursor: pointer;
      display: flex;
      align-items: center;

      h5 {
        margin: 0;
        font-size: 1rem;
        font-weight: inherit;
        margin-left: .5rem;
      }

      i {
        transition: .3s ease;
      }
    }

    .collapsible-item {
      display: none;

      li {
        a {
          font-weight: 300;
        }
      }
    }
  }

  .products {
    width: 70%;

    .products-box {
      display: flex;
      flex-wrap: wrap;

      .products-item {
        flex: 0 0 calc(33.333% - 2rem);
        max-width: calc(33.333% - 2rem);
        margin: 1rem;
        margin-top: 0rem;
        
      }
    }
  }

  .filter {
    .box {
      display: flex;
      align-items: center;
      input {
        display: block;
        margin-right: .5rem;
        &[type=checkbox] {
          appearance: none;
          width: .8rem;
          height: .8rem;
          border: 1px solid;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          &:checked::after {
            content: '\F272';
            font-family: 'bootstrap-icons';
            font-size: .8rem;
            }
        }
      }

      label {
      }
    }
  }
}

@media (max-width: 768px) {
.products-box {

    .sidebar {
      display: none;

    }

    .products {
      width: 100%;

      .products-box {
        padding: 0;

        .products-item {
          flex: 0 0 calc(100% - 2rem);
          max-width: calc(100% - 2rem);
          margin-bottom: .5rem;
          margin-top: 0;
        }
      }
    }

  }
}